<mat-card appearance="outlined" class="basic-card m-20">
  <mat-card-content>
    <div class="single-type-block select-content-wrapper">
      <h2>Different selection option</h2>
      <div class="component-wrapper">
        <form class="component-item-form">
          <div class="form-item-wrapper">
            <div class="form-item">
              <mat-label>Single selection without search using angular material</mat-label>
              <mat-form-field>
                <mat-select [disabled]="disableSelect.value" name="select1" placeholder="Select option">
                  <mat-option value="option1" name="option1">Option 1</mat-option>
                  <mat-option value="option2" disabled name="option2">Option 2 (disabled)</mat-option>
                  <mat-option value="option3" name="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
            <!-- Multiple select without search -->
            <div class="form-item">
              <mat-label>Multiple selection without search using angular material</mat-label>
              <mat-form-field  [ngClass]="{'hide-placeholder': selectedItemsWithoutSearch.length > 0}">
                <mat-label>Select Toppings</mat-label>
                <mat-select [formControl]="toppings" multiple name="select3" [(ngModel)]="selectedItemsWithoutSearch">
                  @for (topping of toppingList; track topping) {
                    <mat-option [value]="topping" name="topping">{{topping}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>     

            <!-- single select with search -->
            <div class="form-item">
              <mat-label>Single selection with search using 3rd pary library</mat-label>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedFruit" name="select2" placeholder="Search fruit">
                  <mat-option>
                    <ngx-mat-select-search 
                      [formControl]="searchControl"   
                      [placeholderLabel]="searchPlaceholderLabelSelect"            
                      [noEntriesFoundLabel]="searchNoEntriesFoundLabel" >
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let fruit of filteredFruits" [value]="fruit" name="fruit">
                    {{ fruit }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <!-- multiple select with search -->
            <div class="form-item">
              <mat-label>Multiple selection with search using 3rd party library</mat-label>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedItems" multiple name="select6" placeholder="Select item">                           
                  <mat-option>
                    <ngx-mat-select-search 
                      [formControl]="searchControlMultiple"
                      [placeholderLabel]="searchPlaceholderLabel"
                      [noEntriesFoundLabel]="searchNoEntriesFoundLabel" 
                      [showToggleAllCheckbox]="true"
                      [toggleAllCheckboxIndeterminate]="isIndeterminate"
                      (toggleAll)="toggleSelectAll($event)">
                    </ngx-mat-select-search>
                  </mat-option>
                  <!-- Options List -->
                  <mat-option *ngFor="let item of filteredItems" [value]="item" name="item" (click)="onItemToggle(item)">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- color dropdown -->
            <div class="form-item full-width">
              <mat-label>Color selection with search using 3rd party library</mat-label>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedColorItems" multiple name="select7" placeholder="Select color">                           
                  <mat-select-trigger>
                    @if(selectedColorItems){
                      <mat-chip-set #chipList aria-label="Selected items">                                
                        @for(item of selectedColorItems; track item){
                            <mat-chip
                            [removable]="true" 
                            (removed)="removeColorItem(item)">
                              <span class="color-box" [ngStyle]="{'background-color': item.hex}"></span>
                              {{ item.name }} ({{ item.hex }})
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          }
                      </mat-chip-set>
                    }                   
                  </mat-select-trigger>
                  <mat-option>
                    <ngx-mat-select-search 
                      [formControl]="searchControlColor"
                      [placeholderLabel]="searchPlaceholderLabel"
                      [noEntriesFoundLabel]="searchNoEntriesFoundLabel" 
                      [showToggleAllCheckbox]="true"
                      [toggleAllCheckboxIndeterminate]="isColorIndeterminate"
                      (toggleAll)="toggleColorSelectAll($event)">
                    </ngx-mat-select-search>
                  </mat-option>
                  <!-- Options List -->
                  <mat-option *ngFor="let item of filteredColorItems" [value]="item" (click)="onColorItemToggle(item)">
                    <span class="color-box" [ngStyle]="{'background-color': item.hex}"></span>
                    {{ item.name }} ({{ item.hex }})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- image dropdown -->
            <div class="form-item full-width">
              <mat-label>Options with image search using 3rd party library</mat-label>
              <mat-form-field>
                <mat-select multiple [(ngModel)]="selectedCountryItems" name="select8" placeholder="Select country">                           
                  <mat-select-trigger>
                    @if(selectedCountryItems){
                      <mat-chip-set #chipList aria-label="Selected items">                                
                        @for(item of selectedCountryItems; track item){
                            <mat-chip
                            [removable]="true" 
                            (removed)="removeCountryItem(item)">
                              <img alt="" class="option-img" [src]="item.flag" height="25" style="height: 25px;">
                              <span>{{item.name}}</span>
                              <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                          }
                      </mat-chip-set>
                    }                   
                  </mat-select-trigger>
                  <mat-option>
                    <ngx-mat-select-search 
                      [formControl]="searchControlCountry"
                      [placeholderLabel]="searchPlaceholderLabel"
                      [noEntriesFoundLabel]="searchNoEntriesFoundLabel" 
                      [showToggleAllCheckbox]="true"
                      [toggleAllCheckboxIndeterminate]="isCountryIndeterminate"
                      (toggleAll)="toggleCountrySelectAll($event)">
                    </ngx-mat-select-search>
                  </mat-option>
                  <!-- Options List -->
                  <mat-option *ngFor="let item of filteredCountryItems" [value]="item" (click)="onCountryItemToggle(item)">
                    <img alt="" class="option-img" [src]="item.flag" height="25" style="height: 25px;">
                    <span>{{item.name}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- icon dropdown -->
            <div class="form-item full-width">
              <mat-label>Single selection with search using icon in option</mat-label>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedIcon" name="select9" placeholder="Search Icon">
                  <mat-select-trigger>
                    @if(selectedIcon) {
                      <mat-icon>{{selectedIcon.icon }}</mat-icon> 
                      <span>{{selectedIcon.name}}</span>               
                    }
                  </mat-select-trigger>
                  <mat-option>
                    <ngx-mat-select-search 
                      [formControl]="searchIconControl"   
                      [placeholderLabel]="searchPlaceholderIconSelect"            
                      [noEntriesFoundLabel]="searchNoEntriesFoundLabel" >
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let item of filteredIconItems" [value]="item" name="icon">
                    <mat-icon>{{ item.icon }}</mat-icon> 
                    <span>{{item.name}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <div class="form-item" style="display: none;">
              <mat-label>Multiple select without search number of selection using angular material</mat-label>
              <mat-form-field>                
                <mat-select [formControl]="toppings" multiple name="select4" placeholder="select item">
                  <mat-select-trigger>
                    {{toppings.value?.[0] || ''}}
                    @if ((toppings.value?.length || 0) > 1) {
                    <span class="example-additional-selection">
                      (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2
                      ? 'other' : 'others'}})
                    </span>
                    }
                  </mat-select-trigger>
                  @for (topping of toppingList; track topping) {
                  <mat-option [value]="topping" name="topping">{{topping}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-item" style="display: none;">
              <mat-label>Multiple selection without search using 3rd party library</mat-label>
              <mat-form-field> 
                <mat-select [(ngModel)]="selectedItemsWithoutSearch" multiple name="select5">
                  <mat-option *ngFor="let item of itemsWithoutSearch" [value]="item" name="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>