
        <ul class="component-grid">
            <li class="grid-item">    
                <a [routerLink]="['/dropdown-component']">Select</a>
            </li>
            <li class="grid-item">    
                <a [routerLink]="['/range-slider-component']">Range Slider</a>
            </li>
            <li class="grid-item">    
                <a [routerLink]="['/snackbar-component']">Snackbar</a>
            </li>
            <li class="grid-item">    
                <a [routerLink]="['/file-upload-component']">File Upload</a>
            </li>
            
            <li class="grid-item">    
                <a [routerLink]="['/datepicker-component']">Date Picker</a>
            </li>
        </ul>
