<mat-card appearance="outlined" class="basic-card m-20">
    <mat-card-content>
        <div class="single-type-block">
            <h2>Basic Input and Textarea</h2>
            <div class="component-wrapper">
                <form class="component-item-form">
                    <div class="form-item-wrapper">
                        <div class="form-item">
                            <mat-label>Outlined input non-floating label</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Outlined Input placeholder">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-label>Fillled input non-floating label</mat-label>
                            <mat-form-field appearance="fill">
                              <input matInput placeholder="Filled Input placeholder">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field appearance="outline">
                                <mat-label>Outlined input Floating label</mat-label>
                                <input matInput placeholder="Outlined Input placeholder">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field appearance="fill">
                              <mat-label>Fillled input Floating label</mat-label>
                              <input matInput placeholder="Filled Input placeholder">
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field appearance="outline">
                                <mat-label>Leave a comment</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                        </div>
                        <div class="form-item">
                            <mat-form-field appearance="fill">
                              <mat-label>Leave a comment</mat-label>
                              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                  </form>
                  
            </div>
        </div>
    </mat-card-content>
</mat-card>
