<h2 class="m-20">Multi selection with Chip</h2>
<mat-card appearance="outlined" class="basic-card m-20">
  <mat-card-content>
    <div class="single-type-block select-content-wrapper">
      <div class="component-wrapper">
        <form class="component-item-form">
          <div class="form-item-wrapper">
            <!-- multiple select with search & chip -->
            <div class="form-item full-width">
              <mat-label>Multiple selection with chip using 3rd party library</mat-label>
              <mat-form-field>
                <mat-select [formControl]="selectedItems" multiple name="select6" placeholder="Select item">                           
                    <mat-select-trigger>
                        @if(selectedItems){
                          <mat-chip-set #chipList aria-label="Selected items">                                
                              @for(item of selectedItems.value; track item){
                                <mat-chip [removable]="true" (removed)="removeItem(item)">
                                  {{ item }}
                                  <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                              }
                          </mat-chip-set>
                        }                   
                    </mat-select-trigger>
                    <mat-option>
                    <ngx-mat-select-search 
                      [formControl]="searchControlMultiple"
                      [placeholderLabel]="searchPlaceholderLabel"
                      [noEntriesFoundLabel]="searchNoEntriesFoundLabel" 
                      [showToggleAllCheckbox]="true"
                      [toggleAllCheckboxIndeterminate]="isIndeterminate"
                      (toggleAll)="toggleSelectAll($event)">
                    </ngx-mat-select-search>
                  </mat-option>
                  <!-- Options List -->
                  <mat-option *ngFor="let item of filteredItems" [value]="item" name="item">
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>