<h2 class="m-20">Single Select</h2>
<mat-card appearance="outlined" class="basic-card m-20">
  <mat-card-content>
    <div class="single-type-block select-content-wrapper">
      <div class="component-wrapper">
        <form class="component-item-form">
          <div class="form-item-wrapper">
            <div class="form-item">
              <mat-label>Single selection without search using angular material</mat-label>
              <mat-form-field>
                <mat-select [disabled]="disableSelect.value" name="select1" placeholder="Select option">
                  <mat-option value="option1" name="option1">Option 1</mat-option>
                  <mat-option value="option2" disabled name="option2">Option 2 (disabled)</mat-option>
                  <mat-option value="option3" name="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>