// Basic Grid 
.form-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem -3rem;
  .form-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1.5rem 3rem;
    &.full-width {
      flex: 0 0 100%;
      max-width: 100%;
    }
    @include bp(sm-max) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.d-flex {
  display: flex;
  margin: 0 -0.8rem;
  .half-width-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0.8rem 1.2rem;
  }
}

app-datepicker-component,
app-range-slider-component,
app-snackbar-component,
app-file-upload-component {
  .mat-mdc-card-content {
    padding: 2rem 2rem 3rem !important;
  }
}

.primary-btn {
  &.mat-mdc-unelevated-button {
    &:not(:disabled) {
      outline: none;
      background-color: $app-primary-color;
      color: $white;
      border-radius: .2rem;
      border: .15rem solid $app-primary-color;
      transition: all .5s;
      padding: 0 1.2rem;
      white-space: nowrap;
      .mdc-button__label{
        color: $white;
      }
      .mat-mdc-button-touch-target {
        height: 100%;
        width: 100%;
      }
      &:hover {
        background-color: $primary-btn-hover;
      }
    }
  }
}


// input number spinner css
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Common Label CSS
mat-label,
label {
  margin-bottom: 0.3rem;
  display: block;
  text-transform: capitalize;
  color: #212121;
  font-size: 1.4rem;
  &.form-field-label{
    width: 100%;
  }
  &:empty{
    margin-bottom: 0;
  }
}
.mat-mdc-form-field {
  position: relative;
  width: 100% !important;
  .mdc-text-field{
    overflow: unset;
    .mat-mdc-form-field-flex {
      .mat-mdc-form-field-infix {
        input,
        textarea {
          color: #212121;
        }
        input {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #212121;
        }
      }
    }
  }
}
