.select-content-wrapper {
  .mat-mdc-form-field {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    .mat-mdc-text-field-wrapper {
      background-color: transparent;
      border: 0.1rem solid #dcdfe4;
      border-radius: 0.4rem;
      overflow: hidden;
      .mdc-line-ripple {
        &::after {
          display: none;
        }
      }
      .mat-mdc-floating-label {
        &.mdc-floating-label {
          display: inline-block;
          margin: 0;
          transform: translateY(-50%) scale(1);
          mat-label {
            color: rgba(0, 0, 0, 0.6);
            margin: 0;
          }
        }
      }
      &.mdc-text-field--focused {
        border-color: $app-primary-color;
      }
      &:not(.mdc-text-field--disabled) {
        .mdc-line-ripple {
          &::before {
            display: none;
          }
        }
      }
      .mat-mdc-select {
        .mat-mdc-select-arrow {
          height: 0.8rem;
          width: 1.1rem;
          background-image: url("../images/sidebar-menu-arrow.svg");
          background-size: 1.1rem;
          background-repeat: no-repeat;
          background-position: center;
          transition: all 0.5s;
          margin-left: 0.5rem;
          top: 0.1rem;
          svg {
            display: none;
          }
        }
      }
    }
    &.hide-placeholder {
      .mat-mdc-floating-label {
        display: none !important;
      }
    }
    .mat-mdc-select-arrow-wrapper  {
      transform: none;
    }
  }
}
div {
  &.mat-mdc-select-panel {
    padding: 0 !important;
    box-shadow: none !important;
    border: 2px solid #e9ebec;
    .mat-mdc-select-panel-above &,
    .mat-mdc-autocomplete-panel-above & {
      border-bottom: 0;
    }
    .cdk-overlay-pane:not(
        .mat-mdc-select-panel-above,
        .mat-mdc-autocomplete-panel-above
      )
      & {
      border-top: 0;
    }
    .mat-mdc-option {
      padding: 0.9rem 1rem;
      min-height: auto;
      line-height: 1.28;
      &.contains-mat-select-search {
        top: 0;
        margin-top: 0;
        width: 100%;
        left: 0;
        padding: 1rem;
        z-index: 2;
        background-color: #fff;
        // &:has(.mat-pseudo-checkbox){
        //     .mdc-list-item__primary-text{
        //         width: 90%;
        //     }
        // }
        .mdc-list-item__primary-text {
          width: 100%;
          position: relative;
        }
        .mat-select-search-inner {
          background-color: transparent;
          top: 0;
          left: 0;
          width: 100%;
          &:before {
            position: absolute;
            left: 1rem;
            top: 1.4rem;
            background-image: url("../images/search-icon.svg");
            width: 1.2rem;
            height: 1.2rem;
            content: " ";
            z-index: 102;
          }
          .mat-divider{
            display: none;
          }
          .mat-select-search-input {
            border: 0.2rem solid #e9ebec;
            border-radius: 0.2rem;
            padding-left: 2.5rem;
          }
          &.mat-select-search-inner-multiple{
            &::before{
              left: 5rem;
            }
          }
        }
        &.mat-mdc-option-multiple {
          &:has(.mdc-checkbox) {
            &::before {
              left: 5rem;
            }
          }
          &:before {
            left: 1.8rem;
          }
          .mat-select-search-inner {
            height: 100%;
            &:not(.mat-select-search-inner-toggle-all) {
              .mat-select-search-inner-row {
                padding: 1rem;
                .mat-select-search-input {
                  width: 100% !important;
                  top: 0;
                  position: absolute;
                }
              }
            }
            .mat-select-search-inner-row {
              height: 100%;
              width: 100%;
              background-color: #fff;
              .mat-select-search-toggle-all-checkbox {
                padding-left: 0;
                .mdc-checkbox {
                  .mat-mdc-checkbox-ripple {
                    display: none;
                    opacity: 0;
                    &::before {
                      display: none;
                    }
                  }
                  .mdc-checkbox__ripple {
                    display: none;
                  }
                  &:hover {
                    .mdc-checkbox__ripple {
                      opacity: 0;
                    }
                  }
                  .mdc-checkbox__background {
                    height: 1.6rem;
                    width: 1.6rem;
                    border-color: #e9ebec;
                    background-color: #fff;
                  }
                  .mdc-checkbox__native-control {
                    &:enabled {
                      &:checked {
                        & ~ .mdc-checkbox__background {
                          border-color: #755cdc;
                          background-color: #755cdc;
                        }
                      }
                      &:indeterminate {
                        & ~ .mdc-checkbox__background {
                          border-color: #755cdc;
                          background-color: #755cdc;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .mat-select-search-input {
            left: 0;
            right: 0;
            top: 0;
            width: calc(100% - 4.9rem) !important;
            // position: absolute;
          }
        }
        &.mat-select-search-no-entries-found {
          &::before {
            left: 2rem;
          }
          .mat-select-search-inner {
            height: auto;
          }
        }
        &:only-child {
          &:not(.mat-select-search-no-entries-found) {
            height: 56px;
            padding: 10px;
            &::before {
              left: 1.7rem;
            }
            .mdc-list-item__primary-text {
              height: 100%;
              .mat-select-search-input {
                width: calc(100% - 2rem) !important;
                position: relative;
                left: 50%;
                top: 1rem;
                transform: translateX(-50%);
                &.mat-select-search-hidden {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* mat-mdc-form-field-focus-overlay -- opacity add kare chhe jena lidhe focus ma color alag dekhay chhe*/
// .mdc-text-field--filled .mdc-line-ripple::after -- ripple nu after bane chhe jema thi aa css aave chhe
// 2nd select option ma j upar searchbar chhe a mate "contains-mat-select-search" aa option ne pakdine css kari shakiye
//
