@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');


$app-primary-color: #1b66e7;
$app-secondary-color: #f5f5f8;

$white: #ffffff;
$black: #000000;

$primary-palette: (
  main: $app-primary-color,
  contrast: (
    main: $white,
  ),
);

$accent-palette: (
  main: $app-secondary-color,
  contrast: (
    main: $black,
  ),
);
$primaryFontFamily: "Public Sans", serif;


body {
  margin: 0;
  font-size: 1.3rem !important;
  font-weight: 400 !important;
  color: #212121;
}