.site-header{
    padding: 15px !important;
    height: auto !important;
    background-color: #fff !important;
    .logo-block{
        height: 34px;
        width: 34px;              
        img{
            height: 100%;
            width: 100%;
            display: inline-block;
            transition: transform 0.5s ease;
            .open-menu &{
                transform: rotate(180deg)
            }
        }
    }
    .hamburger-menu{
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        background-color: transparent;
        line-height: 0;
        margin-right: 8px;
        mat-icon{
            height: 26px;
            width: 26px;
            font-size: 26px;
            line-height: 1.1;            
        }
    }
    .header-title{
        margin: 0 8px;
    }
}